<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kickass Express</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <h1>Kickass Express</h1>
  <p>{{ content }}</p>

</body>
</html>
